body{
    background: linear-gradient(110deg, #ebe0a1, #65b4a0, #2b8ac9);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container{
    background: rgb(255, 255, 255, 0.3);
    max-width: 750px;
    max-height: 800px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2,label,p {
    color: #fff;
    margin: 8px 0;
}


input {
    width: calc(100% - 100px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid white;
    margin-top: 20px;
    font-size: 18px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: rgb(255, 255, 255, 0.3);
    border-color: rgb(255, 255, 255, 0.1);
    color: white;
    float: left;
    height: 40px;
}


button {
    background: rgb(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    border: none;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    right:20px;
    height: 40px;

}


#city{
    transition: box-shadow 0.3s;
}
#city:focus{
    outline: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

#city:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.7);
}

#city::placeholder{
    color: white;
}

button:hover{
    background: #7ce0c7;
    transition: 0.5s;
    box-shadow: inset 20px 20px 50px 10px rgb(230, 235, 168),    
    0 0 20px rgb(255, 255, 255, 0.7);
    ;
    color: white;
}

#weather-info {
    font-size: 20px;
}

#humidity-div {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px; 
    margin-bottom: -15px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 10px;
    display: none;
    margin-top: -30px;
}

#hourly-forecast{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

#city-name{
    margin-top: 10px;
    font-size: 50px;
}

.hourly-item{
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
    margin-bottom: 15px;
}

.hourly-item img{
    height: 30px;
    width: 30px;
    margin-bottom: 1px;
}


#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

.humidity-class {
    display: none;
    position: absolute;
    left: 90px; 
    top: 55%; 
    transform: translateY(-50%); 
    background: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .humidity-class p {
   font-size: 20px;
   color: black;
  }

  .humidity-class:hover{
    background: #7ce0c7;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 20px 20px 50px 10px rgb(230, 235, 168) inset;
    color: white;
  }

  .humidityhover { 
    display: none; 
    width: 80px; 
    background-color: (255, 255, 255, 0.1);
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 2px 0;
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0; 
    font-size: 16px;
}

.humidity-class:hover > .humidityhover {
    transition: 0.5s;
    display: block; /* Show on hover */
    opacity: 1; /* Make it fully visible */
}